*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
body {
background: radial-gradient(
  circle at center,
  #2b4c80 20%,
  #16345c 50%,
  #051226 100%
);
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
}